body {
    font-family: Bahnschrift;
    text-align: center;
}

.djangtwo {
    
    padding-left: auto;
     padding-right: auto;
}

h1 {
    color: rgb(171, 233, 241);
}

table {
    border: 1px solid black;
}